.App {
  height: 100vh;
  background-color: orange;
  display: flex;
  flex-direction: column;
}

.search-watch-list-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
  margin-right: 100px;
  margin-left: 100px;
}

.list-component-containers {
  display: flex;
  flex-grow: 1;
}
